@media (max-width: 1199px) {
    body {
        font-size: 1rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .team .single_item .single_team_overlay{
        padding: 50px 0px 10px 0px;
    }
    .team .single_team_right {
        padding: 42px 10px;
    }
    .team .about_apply {
        height: auto;
    }
}

/* Portrait tablets and small desktops */
@media (max-width: 991px) {
    html {
        font-size: 90%;
    }
    h3 {
        font-size: 1.575rem;
        line-height: 2rem;
        margin-bottom: 15px;
    }
    h5 {
        font-size: 1.1rem;
        margin-bottom: .5rem;
        color: #696f7c;
        line-height: 1.475rem;
    }
    h4 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .team .single_team_right {
        padding: 20px 5px;
    }
    .team .about_apply {
        height: auto;
    }
    
    #generic_price_table .col-md-4 .pro {
        align-content: center;
        text-align: center;
    }

    #generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
        font-size: 1.575rem;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
        font-size: 55px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
        font-size: 20px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
        font-size: 16px;
    }
    
    #generic_price_table .generic_content .generic_feature_list ul li{
	   font-size: 18px;
    }
    
}
/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    html {
        font-size: 80%;
    }
    .btn-md {
        padding: 1rem 2rem;
    }
    .team .about_apply {
        height: auto;
    }
    .team .single_team_right {
        padding: 50px 5px;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border-color: transparent;
        background-color: rgba(31, 31, 31, 0.65);
    }
    .main_menu_bg .navbar-nav>li>a {
        text-align: center;
    }

    .scroll_down {
        bottom: 4%;
    }

    #generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-size: 1.475rem;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
        font-size: 60px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
        font-size: 18px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
        font-size: 14px;
    }
    
    #generic_price_table .generic_content .generic_feature_list ul li{
	   font-size: 16px;
    }
}



/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 65%;
    }
    .form-control {
        margin-bottom: 10px;
    }
    .gellary .single_gellary_item .gellary_overlay {
        padding: 20px 0px 0px 0px;
    }
    .team .single_item .single_team_overlay {
        padding: 40px 0px 10px 0px;
    }
    .team .single_team_right {
        padding: 20px 5px;
    }
    .team .about_apply a {
        height: 50px;
    }
    
    #generic_price_table .generic_content .generic_head_price .generic_head_content .head span{
    font-size: 1.475rem;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .currency{
        font-size: 50px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .price .cent{
        font-size: 16px;
        position:relative;
        top:-5px;
    }

    #generic_price_table .generic_content .generic_head_price .generic_price_tag .month{
        font-size: 12px;
        position:relative;
        top:-5px;
    }
    
    #generic_price_table .generic_content .generic_feature_list ul li{
	   font-size: 14px;
    }
}


@media (max-width: 680px) {
    .copyright_text {
        position: relative; 
        top:100px;
    }
    
    .footer{
        background: #222222;
        height:250px;
        overflow: hidden;
    }

    /*
    .main_footer p {
        left: 120px;
    }
    .main_footer .styler_logo {
        /* left:270px; */ 
    /*
}*/

@media (max-width: 667px) {
    .copyright_text {
        position: relative; 
        top:100px;
    }
    
    .footer_logo .styler {
        text-align: center;
        align-content: center;
    }
}


@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
    .form-control {
        margin-bottom: 10px;
    }

    .team .single_item .single_team_overlay {
        padding: 20px 0px 10px 0px;
    }
    .gellary .single_gellary_item .gellary_overlay {
        padding: 10px 0px 0px 0px;
    }

    .team .single_team_right {
        padding: 10px 5px;
    }
    .team .about_apply a {
        height: 45px;
    }

}

